    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #f4f6f9;
      color: #333;
    }
p{
     font-family: "Poppins", sans-serif;
     font-size: 19px;
     font-weight: 400;
}
    header {
      background: linear-gradient(135deg, #1e3c72, #2a5298);
      color: white;
      padding: 60px 20px;
      text-align: center;
    }

    header h1 {
      font-size: 40px;
      margin-bottom: 15px;
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
     text-transform: uppercase;
      
    }

    header p {
      font-size: 18px;
      max-width: 700px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0;
      font-family: "Poppins", sans-serif;
      margin: 0 auto 40px;
    }

    .btn {
      display: inline-block;
      padding: 20px 30px;
      background: #ff9800;
      color: black;
      text-decoration: none;
      border-radius: 5px;
      transition: 0.3s;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1;
      font-size: 16px;
    }

    .btn:hover {
      background: #e68900;
    }

    section {
      padding: 60px 20px;
      text-align: center;
    }

    section h2 {
      margin-bottom: 40px;
      font-size: 33px;
      color: #1e3c72;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      font-weight: 800;
    }

    .features {
      display: flex;
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
      justify-content: space-around;
    }

    .card {
      background: white;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      transition: 0.3s;
    }

    .card:hover {
      transform: translateY(-8px);
    }

    .card h3 {
      margin-bottom: 15px;
      color: #2a5298;
      font-family: "Open Sans", sans-serif;
      text-transform: capitalize;
      font-size: 18px;
    }

    footer {
      background: #1e3c72;
      color: white;
      text-align: center;
      padding: 20px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      color: #000;
      font-family: "Open Sans", sans-serif;
    }

    .contact-form {
      max-width: 500px;
      margin: auto;
    }
    .features a{
        text-decoration: none;
        display: block;
    }
  .features p{color: #000;font-size: 16px;}

  .campain-pg {
    padding: 100px 0;
    max-width: 1200px;
    margin: auto;
  }

  .campain-pg h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 25px;
    color:  #2a5298;
    text-transform: uppercase;
  }
  .campain-pg h3 {
    font-family: "Open Sans", sans-serif;
    font-size:25px;
    font-weight: 700;
    margin: 0 0 20px;
    color:#000;
  }
    .campain-pg p,  .campain-pg li {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px;
    color: #000;
  }

   .campain-pg ul {
    margin:0 0 50PX 50px;
   }
  .campain-pg li {
    margin: 0 0 10px;
  }

   .campain-pg a {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size:25px;
    font-weight: 700;
    text-decoration: none;
  }
  .campain-pg a:hover {
    color: #2a5298;
  }